- model_class = Shipping
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @shipping.name
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @shipping.user_id
%p
  %strong= model_class.human_attribute_name(:entity_id) + ':'
  %br
  = @shipping.entity_id
%p
  %strong= model_class.human_attribute_name(:total) + ':'
  %br
  = @shipping.total
%p
  %strong= model_class.human_attribute_name(:processed) + ':'
  %br
  = @shipping.processed
%p
  %strong= model_class.human_attribute_name(:begin_at) + ':'
  %br
  = @shipping.begin_at
%p
  %strong= model_class.human_attribute_name(:end_at) + ':'
  %br
  = @shipping.end_at

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), shippings_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_shipping_path(@shipping), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), shipping_path(@shipping), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
