- content_for :js do
  = javascript_include_tag "receivers"
- model_class = Receiver
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  %h3
    Filtrar por:
  =select_tag "filter_by_entity", options_from_collection_for_select(@entities, "id", "name", @selected)
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:entity_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @receivers.each do |receiver|
      %tr
        %td= link_to receiver.id, receiver_path(receiver)
        %td= receiver.email
        %td= receiver.name
        %td= receiver.entity.name
        %td=l receiver.created_at, format: :short
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_receiver_path(receiver), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), receiver_path(receiver), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= paginate @receivers, window: 2

= link_to t('.new', :default => t("helpers.links.new")), new_receiver_path, :class => 'btn btn-primary'
